:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primery-light: #faf4ea;
  --color-primery-dark: #31261a;
}

/* base */
body {
  color: var(--color-primery-dark);
  font-family: poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}
ul {
  list-style-type: none;
}
/* button */
.button {
  color: var(--color-primery-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--bakery-landing-13, #465929);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* hero */
.hero-title {
  color: var(--color-primery-light);
  text-align: center;
  font-size: 8rem;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}
/* adventeges */
.adventeges-list {
  color: var(--color-primery-light);
  background-color: var(--color-brand-light);
}
/* section */
.section-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5.25rem;
}

.section-title {
  color: var(--color-primery-dark);
}

.section-title .accen2 {
  color: var(--color-brand-dark);
}

/* traditions section */
.adventeges-item {
  font-size: 1.25rem;
  font-weight: 300;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand-uppercase {
  color: var(--color-brand-light);
  text-transform: uppercase;
  font-weight: 600;
}

/* Chef section */
.chef-title {
  font-size: 2.5rem;
  font-weight: 600;
}

/* Format section */
.format-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.format-text {
  font-size: 0.875rem;
  font-weight: 300;
}

/* contacts section */
.contact-text {
  color: var(--color-brand-dark);
}
